cfs entry for: _13.fld
doc 0
  field 0
    name titolo
    type string
    value http://dbpedia.org/resource/Afroasiatic_languages?dbpv=2016-10&nif=table&ref=7_2
doc 1
  field 0
    name titolo
    type string
    value http://dbpedia.org/resource/Afroasiatic_languages?dbpv=2016-10&nif=table&ref=8_2
END
checksum 00000000003664445416
cfs entry for: _13.inf
number of fields 2
  name titolo
  number 0
  index options DOCS
  term vectors false
  payloads false
  norms false
  doc values NONE
  doc values gen -1
  attributes 0
  data dimensional count 0
  index dimensional count 0
  dimensional num bytes 0
  vector number of dimensions 0
  vector encoding FLOAT32
  vector similarity EUCLIDEAN
  soft-deletes false
  name 
  number 1
  index options DOCS_AND_FREQS_AND_POSITIONS
  term vectors false
  payloads false
  norms true
  doc values NONE
  doc values gen -1
  attributes 0
  data dimensional count 0
  index dimensional count 0
  dimensional num bytes 0
  vector number of dimensions 0
  vector encoding FLOAT32
  vector similarity EUCLIDEAN
  soft-deletes false
checksum 00000000001376635795
cfs entry for: _13.len
field 
  type NUMERIC
  minvalue 54
  pattern 0
1
T
0
T
END
checksum 00000000000724307440
cfs entry for: _13.pst
field 
  term  *bǝn- ‘house’
    doc 1
      freq 1
      pos 80
  term  house’
    doc 1
      freq 1
      pos 75
  term  man- ‘to create’ (beja)
    doc 1
      freq 1
      pos 78
  term *-bǐn- ‘to build, to create
    doc 1
      freq 1
      pos 74
  term *-i ‘me, my’
    doc 1
      freq 1
      pos 9
  term *-kn ‘you, your’ (fem. pl.)
    doc 1
      freq 1
      pos 34
  term *-lisʼ- ‘to lick’
    doc 1
      freq 1
      pos 64
  term *-maaw- ‘to die’
    doc 1
      freq 1
      pos 69
  term *-umaaw- / *-am-w(t)- ‘to die’ (psom-ii)
    doc 1
      freq 1
      pos 71
  term *-šɂ ‘he’, *-sɂ ‘she’ (msa)
    doc 1
      freq 1
      pos 39
  term *alǝsi ‘tongue’
    doc 1
      freq 1
      pos 67
  term *bn ‘to build’
    doc 1
      freq 1
      pos 79
  term *bnn / bani (assyrian) ‘to build’
    doc 1
      freq 1
      pos 81
  term *d-m- ‘blood’ (west chadic)
    doc 1
      freq 1
      pos 52
  term *dam- ‘blood’ (gonga)
    doc 1
      freq 1
      pos 50
  term *dm / dǝma (assyrian) ‘blood’
    doc 1
      freq 1
      pos 53
  term *dîm- / *dâm- ‘blood’
    doc 1
      freq 1
      pos 49
  term *dîm- / *dâm- ‘red’
    doc 1
      freq 1
      pos 51
  term *i or *yi ‘me, my’ (bound)
    doc 1
      freq 1
      pos 5
  term *i or *yi ‘my’
    doc 1
      freq 1
      pos 7
  term *i ‘me, my’ (bound)
    doc 1
      freq 1
      pos 8
  term *in- ‘i’ (maji (nom))
    doc 1
      freq 1
      pos 1
  term *int- ‘you’ (sing.)
    doc 1
      freq 1
      pos 16
  term *is- ‘he’
    doc 1
      freq 1
      pos 36
  term *ism (arabic) / shǝma (assyrian) ‘name’
    doc 1
      freq 1
      pos 63
  term *itsan or *isan ‘brother’
    doc 1
      freq 1
      pos 56
  term *itsim- ‘brother’
    doc 1
      freq 1
      pos 55
  term *ka, *ku (masc. sing.)
    doc 1
      freq 1
      pos 23
  term *ki ‘your’ (fem. sing.)
    doc 1
      freq 1
      pos 27
  term *ki ‘you’ (fem. sing.)
    doc 1
      freq 1
      pos 28
  term *ki ‘you’ (fem. sing., bound)
    doc 1
      freq 1
      pos 25
  term *ku ‘your’ (masc. sing.) (psc)
    doc 1
      freq 1
      pos 22
  term *ku, *ka ‘you’ (masc. sing., bound)
    doc 1
      freq 1
      pos 20
  term *kun ‘you’ (pl.)
    doc 1
      freq 1
      pos 33
  term *kuna ‘your’ (pl.) (psc)
    doc 1
      freq 1
      pos 32
  term *kūna ‘you’ (plural, bound)
    doc 1
      freq 1
      pos 30
  term *lsn ‘tongue’
    doc 1
      freq 1
      pos 68
  term *ma, *mi (interr. root)
    doc 1
      freq 1
      pos 42
  term *ma, *mi ‘what?’
    doc 1
      freq 1
      pos 40
  term *ma- ‘what?’ (nom)
    doc 1
      freq 1
      pos 41
  term *mi, *ma ‘what?’
    doc 1
      freq 1
      pos 43
  term *mwt / mawta (assyrian) ‘to die’
    doc 1
      freq 1
      pos 73
  term *mǐn- / *mǎn- ‘house’
    doc 1
      freq 1
      pos 77
  term *mǝtǝ ‘to die’
    doc 1
      freq 1
      pos 72
  term *nona / *nuna / *nina (nom)
    doc 1
      freq 1
      pos 11
  term *nv ‘i’
    doc 1
      freq 1
      pos 3
  term *si, *isi ‘he, she, it’
    doc 1
      freq 1
      pos 35
  term *sin ‘brother’
    doc 1
      freq 1
      pos 57
  term *sum(ts)- ‘name’ (nom)
    doc 1
      freq 1
      pos 60
  term *sv ‘he’
    doc 1
      freq 1
      pos 38
  term *sǔm / *sǐm- ‘name’
    doc 1
      freq 2
      pos 59
      pos 61
  term *w- ‘what?’
    doc 1
      freq 1
      pos 46
  term *wa ‘who?’
    doc 1
      freq 1
      pos 48
  term *wa, *wi ‘what?’
    doc 1
      freq 1
      pos 45
  term *wä / *wɨ ‘what?’ (agaw)
    doc 1
      freq 1
      pos 47
  term *îts ‘brother’
    doc 1
      freq 1
      pos 54
  term *ɂn ‘i’
    doc 1
      freq 1
      pos 4
  term *ɂnn ‘we’
    doc 1
      freq 1
      pos 14
  term *ɂnt ‘you’ (sing.)
    doc 1
      freq 1
      pos 19
  term *ɂusu ‘he’, *ɂisi ‘she’
    doc 1
      freq 1
      pos 37
  term *ɂân- / *ɂîn- or *ân- / *în- ‘i’ (independent pronoun)
    doc 1
      freq 1
      pos 0
  term *ɂâni ‘i’
    doc 1
      freq 1
      pos 2
  term *ɂânt- / *ɂînt- or *ânt- / *înt- ‘you’ (sing.)
    doc 1
      freq 1
      pos 15
  term *ɂânt- ‘you’ (sing.)
    doc 1
      freq 1
      pos 17
  term *ɂǎnn- / *ɂǐnn- or *ǎnn- / *ǐnn- ‘we’
    doc 1
      freq 1
      pos 10
  term *ɂǎnn- / *ɂǐnn- ‘we’
    doc 1
      freq 1
      pos 12
  term *ṣǝm ‘name’
    doc 1
      freq 1
      pos 62
  term -ka (2s. masc. suffix) (arabic)
    doc 1
      freq 1
      pos 24
  term -ki (2s. fem. sing. suffix) (arabic)
    doc 1
      freq 1
      pos 29
  term afeg
    doc 0
      freq 1
      pos 2
  term ax "brother"
    doc 1
      freq 1
      pos 58
  term bin- ‘to build, create’ (dime (som))
    doc 1
      freq 1
      pos 76
  term come
    doc 0
      freq 1
      pos 6
  term die
    doc 0
      freq 1
      pos 4
  term drink
    doc 0
      freq 1
      pos 8
  term dual
    doc 0
      freq 3
      pos 44
      pos 46
      pos 48
  term eat
    doc 0
      freq 1
      pos 7
  term fly
    doc 0
      freq 1
      pos 5
  term fmou
    doc 0
      freq 1
      pos 39
  term i ‘i, me, my’ (ari (som))
    doc 1
      freq 1
      pos 6
  term imaadaa
    doc 0
      freq 1
      pos 13
  term ina shan
    doc 0
      freq 1
      pos 15
  term kana shan
    doc 0
      freq 1
      pos 29
  term katab
    doc 0
      freq 1
      pos 0
  term kina shan
    doc 0
      freq 1
      pos 22
  term kmou
    doc 0
      freq 1
      pos 25
  term kuna shan
    doc 0
      freq 2
      pos 63
      pos 70
  term litsʼ- ‘to lick’ (dime (som))
    doc 1
      freq 1
      pos 65
  term mou
    doc 0
      freq 1
      pos 1
  term muna shan
    doc 0
      freq 1
      pos 56
  term mā (arabic) / mu? (assyrian) ‘what?’
    doc 1
      freq 1
      pos 44
  term naktubu
    doc 0
      freq 1
      pos 51
  term nettafeg
    doc 0
      freq 1
      pos 53
  term nimaadnaa
    doc 0
      freq 1
      pos 54
  term plural
    doc 0
      freq 5
      pos 50
      pos 57
      pos 64
      pos 71
      pos 78
  term semou
    doc 0
      freq 2
      pos 73
      pos 80
  term singular
    doc 0
      freq 5
      pos 9
      pos 16
      pos 23
      pos 30
      pos 37
  term smou
    doc 0
      freq 1
      pos 32
  term suna shan
    doc 0
      freq 2
      pos 77
      pos 84
  term taktubna
    doc 0
      freq 1
      pos 65
  term taktubu
    doc 0
      freq 2
      pos 24
      pos 31
  term taktubāni
    doc 0
      freq 2
      pos 45
      pos 47
  term taktubīna
    doc 0
      freq 1
      pos 17
  term taktubūna
    doc 0
      freq 1
      pos 58
  term tamtíni
    doc 0
      freq 1
      pos 35
  term tamtínii
    doc 0
      freq 1
      pos 21
  term tamtíniya
    doc 0
      freq 1
      pos 28
  term tamáni
    doc 0
      freq 1
      pos 14
  term tamíni
    doc 0
      freq 1
      pos 42
  term tana shan
    doc 0
      freq 1
      pos 36
  term temou
    doc 0
      freq 1
      pos 18
  term tettafeg
    doc 0
      freq 1
      pos 33
  term tettafgem
    doc 0
      freq 1
      pos 60
  term tettafgemt
    doc 0
      freq 1
      pos 67
  term tettafgeḍ
    doc 0
      freq 2
      pos 19
      pos 26
  term tetənmou
    doc 0
      freq 2
      pos 59
      pos 66
  term timaadaa
    doc 0
      freq 3
      pos 20
      pos 27
      pos 34
  term timaadaan
    doc 0
      freq 2
      pos 61
      pos 68
  term timou
    doc 0
      freq 1
      pos 11
  term ttafgen
    doc 0
      freq 1
      pos 74
  term ttafgent
    doc 0
      freq 1
      pos 81
  term ttafgeɣ
    doc 0
      freq 1
      pos 12
  term támeen
    doc 0
      freq 2
      pos 76
      pos 83
  term támnay
    doc 0
      freq 1
      pos 55
  term támteena
    doc 0
      freq 2
      pos 62
      pos 69
  term tənmou
    doc 0
      freq 1
      pos 52
  term write
    doc 0
      freq 1
      pos 3
  term yaktubna
    doc 0
      freq 1
      pos 79
  term yaktubu
    doc 0
      freq 1
      pos 38
  term yaktubāni
    doc 0
      freq 1
      pos 49
  term yaktubūna
    doc 0
      freq 1
      pos 72
  term yana shan
    doc 0
      freq 1
      pos 43
  term yettafeg
    doc 0
      freq 1
      pos 40
  term yimaadaa
    doc 0
      freq 1
      pos 41
  term yimaadaan
    doc 0
      freq 2
      pos 75
      pos 82
  term ʼaktubu
    doc 0
      freq 1
      pos 10
  term —
    doc 1
      freq 7
      pos 13
      pos 18
      pos 21
      pos 26
      pos 31
      pos 66
      pos 70
field titolo
  term http://dbpedia.org/resource/Afroasiatic_languages?dbpv=2016-10&nif=table&ref=7_2
    doc 0
  term http://dbpedia.org/resource/Afroasiatic_languages?dbpv=2016-10&nif=table&ref=8_2
    doc 1
END
checksum 00000000001440044971
table of contents, size: 4
  filename: _13.fld
    start: 23
    end: 335
  filename: _13.inf
    start: 358
    end: 1106
  filename: _13.len
    start: 1129
    end: 1219
  filename: _13.pst
    start: 1242
    end: 10295
table of contents begins at offset: 0000000000000010295
