cfs entry for: _16.fld
doc 0
  field 0
    name titolo
    type string
    value http://dbpedia.org/resource/Afroasiatic_languages?dbpv=2016-10&nif=table&ref=7_2
doc 1
  field 0
    name titolo
    type string
    value http://dbpedia.org/resource/Afroasiatic_languages?dbpv=2016-10&nif=table&ref=8_2
doc 2
  field 0
    name titolo
    type string
    value http://dbpedia.org/resource/Academy_Award_for_Best_Production_Design?dbpv=2016-10&nif=table&ref=2.2_2
doc 3
  field 0
    name titolo
    type string
    value http://dbpedia.org/resource/Academy_Award_for_Best_Production_Design?dbpv=2016-10&nif=table&ref=2.2_2
doc 4
  field 0
    name titolo
    type string
    value http://dbpedia.org/resource/List_of_Governors_of_Alabama?dbpv=2016-10&nif=table&ref=1.2_2
END
checksum 00000000003025383017
cfs entry for: _16.inf
number of fields 2
  name titolo
  number 0
  index options DOCS
  term vectors false
  payloads false
  norms false
  doc values NONE
  doc values gen -1
  attributes 0
  data dimensional count 0
  index dimensional count 0
  dimensional num bytes 0
  vector number of dimensions 0
  vector encoding FLOAT32
  vector similarity EUCLIDEAN
  soft-deletes false
  name 
  number 1
  index options DOCS_AND_FREQS_AND_POSITIONS
  term vectors false
  payloads false
  norms true
  doc values NONE
  doc values gen -1
  attributes 0
  data dimensional count 0
  index dimensional count 0
  dimensional num bytes 0
  vector number of dimensions 0
  vector encoding FLOAT32
  vector similarity EUCLIDEAN
  soft-deletes false
checksum 00000000001376635795
cfs entry for: _16.len
field 
  type NUMERIC
  minvalue 27
  pattern 00
28
T
03
T
00
T
00
T
13
T
END
checksum 00000000001827297564
cfs entry for: _16.pst
field 
  term 01/01/1997
    doc 0
      freq 1
      pos 53
  term 01/12/2000
    doc 0
      freq 1
      pos 81
  term 04020
    doc 1
      freq 1
      pos 2
  term 05/02/2013
    doc 0
      freq 1
      pos 18
  term 06/03/1995
    doc 0
      freq 1
      pos 32
  term 06/09/1999
    doc 0
      freq 3
      pos 4
      pos 60
      pos 74
  term 07/09/1999
    doc 0
      freq 1
      pos 11
  term 09/12/1993
    doc 0
      freq 1
      pos 25
  term 1
    doc 1
      freq 2
      pos 3
      pos 7
    doc 2
      freq 1
      pos 1
    doc 3
      freq 1
      pos 1
    doc 4
      freq 1
      pos 3
  term 10
    doc 2
      freq 1
      pos 25
    doc 3
      freq 1
      pos 25
  term 11/11/2011
    doc 0
      freq 1
      pos 46
  term 11111
    doc 0
      freq 1
      pos 0
  term 1112
    doc 0
      freq 1
      pos 7
  term 1113
    doc 0
      freq 1
      pos 14
  term 1114
    doc 0
      freq 1
      pos 21
  term 11211
    doc 0
      freq 1
      pos 28
  term 12/11/1985
    doc 0
      freq 1
      pos 39
  term 12223
    doc 1
      freq 1
      pos 17
  term 12445
    doc 0
      freq 1
      pos 49
  term 13/08/1992
    doc 0
      freq 1
      pos 67
  term 14411
    doc 0
      freq 1
      pos 56
  term 2
    doc 1
      freq 1
      pos 8
    doc 2
      freq 1
      pos 4
    doc 3
      freq 1
      pos 4
  term 2001
    doc 0
      freq 1
      pos 41
  term 2005
    doc 0
      freq 1
      pos 48
  term 2006
    doc 0
      freq 1
      pos 27
  term 2009
    doc 0
      freq 1
      pos 34
  term 2011
    doc 0
      freq 1
      pos 62
  term 2012
    doc 0
      freq 1
      pos 13
  term 2015
    doc 0
      freq 1
      pos 55
  term 2017
    doc 0
      freq 1
      pos 76
  term 2018
    doc 0
      freq 2
      pos 6
      pos 69
  term 2019
    doc 0
      freq 1
      pos 20
  term 2020
    doc 0
      freq 1
      pos 83
  term 21
    doc 4
      freq 1
      pos 12
  term 22021
    doc 1
      freq 1
      pos 27
  term 2222
    doc 0
      freq 1
      pos 35
  term 22344
    doc 1
      freq 1
      pos 22
  term 24
    doc 4
      freq 2
      pos 28
      pos 32
  term 25
    doc 4
      freq 2
      pos 8
      pos 24
  term 26
    doc 4
      freq 2
      pos 16
      pos 36
  term 27
    doc 4
      freq 1
      pos 4
  term 29
    doc 4
      freq 2
      pos 20
      pos 40
  term 3
    doc 1
      freq 1
      pos 13
    doc 2
      freq 1
      pos 7
    doc 3
      freq 1
      pos 7
  term 4
    doc 1
      freq 1
      pos 18
    doc 2
      freq 1
      pos 10
    doc 3
      freq 1
      pos 10
  term 4011
    doc 1
      freq 1
      pos 12
  term 5
    doc 1
      freq 1
      pos 23
    doc 2
      freq 1
      pos 13
    doc 3
      freq 1
      pos 13
  term 51111
    doc 0
      freq 1
      pos 63
  term 56472
    doc 0
      freq 1
      pos 77
  term 6
    doc 1
      freq 1
      pos 28
  term 651111
    doc 0
      freq 1
      pos 70
  term 7
    doc 2
      freq 1
      pos 16
    doc 3
      freq 1
      pos 16
  term 7764
    doc 0
      freq 1
      pos 42
  term 8
    doc 2
      freq 1
      pos 19
    doc 3
      freq 1
      pos 19
  term 9
    doc 2
      freq 1
      pos 22
    doc 3
      freq 1
      pos 22
  term a123456
    doc 4
      freq 1
      pos 2
  term a17443
    doc 4
      freq 1
      pos 39
  term a55332
    doc 4
      freq 1
      pos 31
  term a56321
    doc 4
      freq 1
      pos 11
  term a981234
    doc 4
      freq 1
      pos 19
  term aaaaa
    doc 4
      freq 1
      pos 1
  term aass222
    doc 0
      freq 1
      pos 26
  term almamata
    doc 2
      freq 1
      pos 24
    doc 3
      freq 1
      pos 24
  term altofiore
    doc 0
      freq 1
      pos 23
  term ancona
    doc 0
      freq 1
      pos 31
  term architetture sistemi software
    doc 4
      freq 1
      pos 33
  term aversa
    doc 1
      freq 1
      pos 20
  term b123457
    doc 4
      freq 1
      pos 7
  term b32555
    doc 4
      freq 1
      pos 15
  term b65311
    doc 4
      freq 1
      pos 35
  term b98321
    doc 4
      freq 1
      pos 23
  term bari
    doc 0
      freq 2
      pos 38
      pos 45
    doc 1
      freq 2
      pos 15
      pos 19
  term basi dati
    doc 4
      freq 1
      pos 37
  term bbbb
    doc 4
      freq 1
      pos 6
  term big data
    doc 4
      freq 1
      pos 13
  term bocconi
    doc 2
      freq 1
      pos 9
    doc 3
      freq 1
      pos 9
  term bologna
    doc 2
      freq 1
      pos 26
    doc 3
      freq 1
      pos 26
  term c122334
    doc 4
      freq 1
      pos 27
  term campania
    doc 1
      freq 1
      pos 21
  term cassano
    doc 0
      freq 1
      pos 44
  term catanzaro
    doc 2
      freq 1
      pos 23
    doc 3
      freq 1
      pos 23
  term cccc
    doc 4
      freq 1
      pos 10
  term chanel
    doc 0
      freq 1
      pos 15
  term coco
    doc 0
      freq 1
      pos 16
  term como
    doc 0
      freq 1
      pos 80
  term dddd
    doc 4
      freq 1
      pos 14
  term de como
    doc 0
      freq 1
      pos 79
  term de5652235
    doc 0
      freq 1
      pos 82
  term deep learning
    doc 4
      freq 2
      pos 21
      pos 25
  term eeee
    doc 4
      freq 1
      pos 18
  term federico ii
    doc 2
      freq 1
      pos 18
    doc 3
      freq 1
      pos 18
  term ferndanda
    doc 0
      freq 1
      pos 78
  term ffff
    doc 4
      freq 1
      pos 22
  term fffs12331
    doc 0
      freq 1
      pos 19
  term ffjwj333
    doc 0
      freq 1
      pos 47
  term ffs1112
    doc 0
      freq 1
      pos 12
  term fiordaliso
    doc 0
      freq 1
      pos 30
  term fondi
    doc 0
      freq 1
      pos 10
    doc 1
      freq 1
      pos 10
  term formia
    doc 0
      freq 1
      pos 52
  term francesca
    doc 0
      freq 1
      pos 50
  term gaeta
    doc 0
      freq 1
      pos 66
  term gg11111
    doc 0
      freq 1
      pos 5
  term ggahah01
    doc 0
      freq 1
      pos 54
  term gggg
    doc 4
      freq 1
      pos 26
  term ghji45
    doc 0
      freq 1
      pos 40
  term giada
    doc 0
      freq 1
      pos 29
  term hh14422
    doc 0
      freq 1
      pos 75
  term hhh
    doc 4
      freq 1
      pos 30
  term iiii
    doc 4
      freq 1
      pos 34
  term informatica teorica
    doc 4
      freq 1
      pos 29
  term ingegneria dei dati
    doc 4
      freq 1
      pos 0
  term ingengeria dei dati 2
    doc 4
      freq 1
      pos 5
  term itri
    doc 0
      freq 1
      pos 59
    doc 1
      freq 1
      pos 0
  term latina
    doc 1
      freq 2
      pos 4
      pos 14
  term lazio
    doc 1
      freq 3
      pos 1
      pos 6
      pos 11
  term lisofino
    doc 0
      freq 1
      pos 37
  term llll
    doc 4
      freq 1
      pos 38
  term lombarida
    doc 1
      freq 1
      pos 26
  term machine learning
    doc 4
      freq 1
      pos 9
  term mahona
    doc 0
      freq 1
      pos 51
  term marco
    doc 0
      freq 1
      pos 8
  term martina
    doc 0
      freq 1
      pos 71
  term matteo
    doc 0
      freq 2
      pos 1
      pos 57
  term mattia
    doc 0
      freq 1
      pos 64
  term milano
    doc 0
      freq 1
      pos 24
    doc 1
      freq 2
      pos 25
      pos 29
    doc 2
      freq 2
      pos 11
      pos 14
    doc 3
      freq 2
      pos 11
      pos 14
  term napoli
    doc 1
      freq 1
      pos 24
    doc 2
      freq 1
      pos 20
    doc 3
      freq 1
      pos 20
  term nicola
    doc 0
      freq 1
      pos 43
  term pizzo
    doc 0
      freq 1
      pos 9
  term politecnico di catanzaro
    doc 2
      freq 1
      pos 21
    doc 3
      freq 1
      pos 21
  term politecnico di milano
    doc 2
      freq 1
      pos 12
    doc 3
      freq 1
      pos 12
  term politecnico di torino
    doc 2
      freq 1
      pos 15
    doc 3
      freq 1
      pos 15
  term ponza
    doc 0
      freq 1
      pos 3
  term puglia
    doc 1
      freq 1
      pos 16
  term rene
    doc 0
      freq 1
      pos 36
  term roma
    doc 0
      freq 2
      pos 17
      pos 73
    doc 1
      freq 2
      pos 5
      pos 9
    doc 2
      freq 3
      pos 2
      pos 5
      pos 8
    doc 3
      freq 3
      pos 2
      pos 5
      pos 8
  term roma 3
    doc 2
      freq 1
      pos 0
    doc 3
      freq 1
      pos 0
  term sapienza
    doc 2
      freq 1
      pos 3
    doc 3
      freq 1
      pos 3
  term sfffee95
    doc 0
      freq 1
      pos 33
  term sinapi
    doc 0
      freq 1
      pos 58
  term sistemi inteliggenti per internet
    doc 4
      freq 1
      pos 17
  term smeraldi
    doc 0
      freq 1
      pos 72
  term ss68992
    doc 0
      freq 1
      pos 61
  term tor vergata
    doc 2
      freq 1
      pos 6
    doc 3
      freq 1
      pos 6
  term torino
    doc 2
      freq 1
      pos 17
    doc 3
      freq 1
      pos 17
  term valerio
    doc 0
      freq 1
      pos 22
  term wissel
    doc 0
      freq 2
      pos 2
      pos 65
  term yy11111
    doc 0
      freq 1
      pos 68
field titolo
  term http://dbpedia.org/resource/Academy_Award_for_Best_Production_Design?dbpv=2016-10&nif=table&ref=2.2_2
    doc 2
    doc 3
  term http://dbpedia.org/resource/Afroasiatic_languages?dbpv=2016-10&nif=table&ref=7_2
    doc 0
  term http://dbpedia.org/resource/Afroasiatic_languages?dbpv=2016-10&nif=table&ref=8_2
    doc 1
  term http://dbpedia.org/resource/List_of_Governors_of_Alabama?dbpv=2016-10&nif=table&ref=1.2_2
    doc 4
END
checksum 00000000001430552684
table of contents, size: 4
  filename: _16.fld
    start: 23
    end: 803
  filename: _16.inf
    start: 826
    end: 1574
  filename: _16.len
    start: 1597
    end: 1705
  filename: _16.pst
    start: 1728
    end: 11269
table of contents begins at offset: 0000000000000011269
